.ambimax-box{
    margin-bottom: 40px!important;
    padding: 30px;
    border-radius: 4px;
}

.ambimax-section{
    padding: 96px 0px;
}

.top{
    margin-top: 140px;
}

section{
    padding: 50px 0px 0px 0px;
    margin: 50px 0px 0px 0px;
    border-radius: 100px 400px 0 0;
}
div.bg-light{
    border-radius: 0 5px 5px 0;
}

.ambimax-button-alone{
    padding: 70px 0px;
    background-color: rgb(34, 166, 179);
    position: absolute;
    width: 100%;
    left: 0;
}
.end-header{
    margin-top: 200px;
    margin-bottom: 100px;
}

.row {
    display: flex;
}

.ambimax-img-100{
    padding-left: 0px;
    padding-right: 0px;
}

.ambimax-icon{
    font-size: 2rem;
}

.ambimax-list{
    margin-top: 20px;
    margin-left: 40px;
}
