
    <div class="container top">
<section class="bg-light">
        <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-4">Kam man tas appsas?</h2>
          <p>Vienas iš šiuolaikiškų būdų pasiekti vartotojus yra mobilios aplikacijos. 
            Jūs galite įkelti reklamą, atnaujintą prekių asortimentą ar kitus svarbius įvykius, kurie bus matomi telefonų ekranuose kaip notifications.
          Tai puikus būdas priminti apie savo teikiamas paslaugas, nuolaidas ar artėjančius renginius.</p>
        </div>
      </div>
<div animateOnScroll animationName="animated fadeIn" class="row">
        <div class="col-md-6 d-flex align-self-stretch ftco-animate">
          <div class="ambimax-box d-flex align-items-center">
              <div class="icon d-flex align-items-center justify-content-center order-md-last">
                  <span class="flaticon-cloud"></span>
              </div>
            <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
              <h3 class="heading">Tiesioginė rinkodara</h3>
              <p class="mb-0">Programėlę galima pritaikyti inoriasiam klientui. 
                Rinkodaros specialistai puikiai žino kaip išdėstyti turinį, patars kokios funkcijos galėtų būti aktualios vartotojui.
                Iššokantys pranešimai veikia net neįjungus appso, jie jus dar labiau priartins prie vartotojų.
                 Nuolaidų pasiūlymai, lojalumo taškai muotyvuoja pirkėjus ir skatina juos naudotis Jūsų paslaugomis.
                  Ypač pasiteisinanti marketingo priemonė yra vartotoju feedback.
                   Įvertinimai, komentarai ar žvaigždutės prie jūsų paslaugų ar prekių skatina pasitikėjimą.
               </p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="ambimax-box d-flex align-items-center">
                <img src="../../assets/coursemate_push_notifications-1.png" class="img-fluid rounded" alt="Responsive image">
            </div>      
          </div>
</div>
</section>
</div>


<div animateOnScroll animationName="animated fadeIn" class="row">

<div class="col-md-6 d-flex align-self-stretch ftco-animate ambimax-img-100">

      <img src="../../assets/man.jpeg" class="img-fluid rounded" alt="Responsive image">
     
</div>

        <div class="col-md-6 d-flex align-self-stretch ftco-animate">
          <div class="ambimax-box d-flex align-items-center">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="flaticon-server"></span>
              </div>
            <div class="media-body pl-4">
              <h3 class="heading">Padidinkite savo pardavimus</h3>
              <p class="mb-0">Tai yra naujas būdas padidinti įmonės pardavimus. 
                Pritaikę rinkodaros konceptus Jūs galėsite tiesiogiai pasiekti kiekvieną vartotoją. Dėka 
                GPS esančio telefone Jūs galėsite siųsti specialius pasiūlymus netoliese Jūsų parduotuvės ar biuro esantiems klientams.
              Kita puiki funkcija, tai atsiskaitymai telefonu. Juk noras kažką įsigyti gali užklupti būnant namuose ir geriant kavą.
              Atsiskaitymas kelių mygtukų paspaudimu tikrai palengiva visą šį procesą. 
               Kitas puikus pavyzdys yra atsiskaitymas už būsimas paslaugas. 
               Juk malonu, kai atvykus atsiimti prekių ar paslaugų nebereikia egalvoti apie mokėjimą.</p>
            </div>
          </div>
        </div>

      </div>



<div animateOnScroll animationName="animated fadeIn" class="container">
      <div class="bg-light">

  <div class="row">
        <div class="col-md-6 d-flex align-self-stretch ftco-animate">
          <div class="ambimax-box d-flex align-items-center">
              <div class="icon d-flex align-items-center justify-content-center order-md-last">
                  <span class="flaticon-customer-service"></span>
              </div>
            <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
              <h3 class="heading">Būkite matomas savo klientams</h3>
              <p>Visi parsisiunte programėlę galės ja naudotis savo telefone. 
                Kleintams nereikės atsiminti Jūsų tinklalapio adreso ar googlinti. Dauguma atveju programėlė veiks ir be interneto.
              Yra būdų skatinti programėlės atsisiuntimus, keli iš jų yra papildomi bonusai ar nuolaidos. Puiki kombinacija yra tinklalapis ir programėlė. 
              Vartototojai, apsilankę Jūsų svetainėje ir atsisiuntę programėlę beabojonės Jus lengviau prisimins.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 d-flex align-self-stretch ftco-animate">
          <div class="ambimax-box d-flex align-items-center">
              <img src="../../assets/Android-Mobile-apps.jpg" class="img-fluid rounded" alt="Responsive image">
          </div>      
        </div>
</div>
</div>
</div>


<div animateOnScroll animationName="animated fadeIn" class="row">
  <div class="col-md-6 d-flex align-self-stretch ftco-animate ambimax-img-100">
                      <img src="../../assets/scanner.jpg" class="img-fluid rounded" alt="Responsive image">
 
                </div>

                  <div class="col-md-6 d-flex align-self-stretch ftco-animate">
          <div class="ambimax-box d-flex align-items-center"  style="max-width: 800px">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="flaticon-life-insurance"></span>
              </div>
            <div class="media-body pl-4">
              <h3 class="heading">Verslo procesų optimizavimas</h3>
              <p>Vis dažniau verslas ieško automatizacijos sprendimų. 
                Procesų valdymas gali tapti žymiai efektyvesnis pasitelkus IT. 
                Darbuotojų bendravimas su komandomis, duomenų pildymas ir perdavimas, statiskos rinkimas. 
                Visi šie dalykai gali tapti efektyvesniais naudojant mobilias aplikacijas. 
              Vidinių įmonės produktų kūrimas tampa vis dažnesnė praktika. 
              Tokiu būdu galima užtikrint nepertraukiamą bendravimą tarp darbuotojų, priklausomai nuo jų lokacijos. </p>
            </div>
          </div>
</div>
</div>
              
<div animateOnScroll animationName="animated fadeIn" class="row">
        <div class="col-md-6 d-flex align-self-stretch ftco-animate">
          <div class="ambimax-box d-flex align-items-center">
              <div class="icon d-flex align-items-center justify-content-center order-md-last">
                  <span class="flaticon-cloud-computing"></span>
              </div>
            <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
              <h3 class="heading">Klientų lojalumo didinimas</h3>
              <p>Leskite savo klientams užsisakyti staliuką, maisto ar sumokėti už užsakimą išmaniąja programėle, tai puikus būdas didinti jų lojalumą. 
                Integruokite lojalumo programą savo aplikacijoje ir dalinkitės specialiais pasiūlymasi, akcijomis ir bonusais su savo klientais.
                Išnaudokite notifikacijas, kad pasiektumėte savo vartotojus. Pasiūlykite klientams įsirašiūsiems aplikaciją specialias nuolaidas. 
                Jei kažkas nori daugiau sužinoti apie Jūsų produktus ar paslaugas, pasiūlykite įsirašyti apsą. Jie galės jus pasiekti 24/7. 
                Nuolatiniai pasiūlymai didina lojalumą, o lojalūs klientai daugiau perka ar naudojasi Jūsų paslaugomis.
              </p>
            </div>
          </div>   
        </div>
        <div class="col-md-6 d-flex align-self-stretch ftco-animate ambimax-img-100">
          <img src="../../assets/7.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
</div>

<div animateOnScroll animationName="animated fadeIn" class="row">
    <div class="col-md-6 d-flex align-self-stretch ftco-animate ambimax-img-100">
        <img src="../../assets/google-firebase-analytics-final-report.JPG" class="img-fluid rounded" alt="Responsive image">
  </div>

        <div class="col-md-6 d-flex align-self-stretch ftco-animate" style="max-width: 800px">
          <div class="ambimax-box d-flex align-items-center">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="flaticon-settings"></span>
              </div>
            <div class="media-body pl-4">
              <h3 class="heading">Klientų analizė</h3>
              <p>Mobilių aplikacijų savininkai gali surinkti daug naudingos informacijos apie savo klientus.
                Pavyzdžiui gali sužinoti kurių produktų perka daugiausiai. 
                Taip pat kiek laiko jie praleidžia aplikacijoje ar netgi kuriomis funkcijomis daugiausiai naudojasi.
                Savo klientų supratimas yra labai svarbus sėkmingam verslui.
                Aplikacijos pagalba galima vesti statistiką apie vartotjų lokaciją, pomėgius ir kitą Jus dominančią statistiką. 
              </p>
            </div>
          </div>      
        </div>
</div>
        
        <div class=" d-flex align-self-stretch ftco-animate">
            <div class="ambimax-box d-flex align-items-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-settings"></span>
                </div>
              <div class="media-body pl-4">
                <h3 class="heading">Keli dalykai verti dėmesio</h3>
                <p>Mobilios aplikacijos nėra pritaikomos visose sferose. 
                  Kadangi tai palyginus nauja priemonė, konkurencija nėra didelė. 
                  Didelė tikimybė, kad Jūs būsite pirmieji savo sferoje turintys programėlę.</p>
                  <div class="ambimax-list">
                  <div animateOnScroll animationName="animated fadeIn" class="row">
                      <p class="ambimax-icon"><fa-icon [icon]="faHotel"></fa-icon></p> <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    Turizmas - viešbūčių ir poilsiaviečių paieška, bilietų rezervacija, interaktyvūs žemėlapiai.</p>
                  </div>
                  <div animateOnScroll animationName="animated fadeIn" class="row">
                    <p class="ambimax-icon"><fa-icon [icon]="faClinicMedical"></fa-icon></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Medicina - konsultacijos, išankstinė registracija, gydytojo iškvietimas.</p>
                  </div>
                  <div animateOnScroll animationName="animated fadeIn" class="row">
                    <p class="ambimax-icon"><fa-icon [icon]="faCar"></fa-icon></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mašinų verslas - nuoma, taisymas ir priežiūra.</p>
                  </div>
                  <div animateOnScroll animationName="animated fadeIn" class="row">
                    <p class="ambimax-icon"><fa-icon [icon]="faUtensils"></fa-icon></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Restoranai ir kavos namai - įvairūs pasiūlymai, meniu, maisto pristatymas.</p>
                  </div>
                  <div animateOnScroll animationName="animated fadeIn" class="row">
                    <p class="ambimax-icon"><fa-icon [icon]="faAnchor"></fa-icon></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Laivalaikio paslaugos - klubai.</p>
                  </div>
                  <div animateOnScroll animationName="animated fadeIn" class="row">
                    <p class="ambimax-icon"><fa-icon [icon]="faAddressCard"></fa-icon></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Grožio pramonė - susitarimai dėl susitikimo, interaktyvus kainų sąrašas, informacija apie paslaugas.</p>
                  </div>
                  <div animateOnScroll animationName="animated fadeIn" class="row">
                    <p class="ambimax-icon"><fa-icon [icon]="faTags"></fa-icon></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prekių pristatymo paslaugos - prekių katalogai, užsakymai, kainos.</p>
                  </div>
                  <div animateOnScroll animationName="animated fadeIn" class="row">
                    <p class="ambimax-icon"><fa-icon [icon]="faDumbbell"></fa-icon></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sportas - treniruočių grafikai, registracijos, atsiliepimai.</p>
                  </div>
                  <div animateOnScroll animationName="animated fadeIn" class="row">
                    <p class="ambimax-icon"><fa-icon [icon]="faPrint"></fa-icon></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bet koks verslas parduodantis paslaugas.</p>
                  </div>
                </div>
              </div>
            </div>      
          </div>
      



  <div class="ambimax-button-alone">
    <div class="justify-content-center">
        <div class="col-md-10">
            <div class="row">
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
          
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
         
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
           
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-left counter-wrap ftco-animate">
            <div class="block-18 text-center">
            
                <a routerLink="/contacts" class="btn btn-primary px-4 py-3">Susisiekime</a>
            
            </div>
          </div>
        </div>
    </div>
</div>
  </div>

  <section class="end-header  ftco-section ftco-counter img" id="section-counter">
      <div class="container">
          <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Ženkite koja kojon su technologijomis</h2>
        </div>
      </div>
          <div class="row justify-content-center">
              <div class="col-md-10">
                  <div class="row">
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                      <img src="../../assets/viada.jpg" class="img-fluid rounded" alt="Responsive image">
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                      <img src="../../assets/lemon-gym.png" class="img-fluid rounded" alt="Responsive image">
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                      <img src="../../assets/Kino_Pavasaris_Logo.jpg" class="img-fluid rounded align-middle" alt="Responsive image">
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-top">
                        <img src="../../assets/shop.png" class="img-fluid rounded" alt="Responsive image">
                        <p style="text-align:center">Jūsų programėlė</p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>
