.navbar{
    //position: absolute;
    width: 100%;
    height: 100px;
    background:transparent!important;
}

.nav-link{
    cursor: pointer;
}

.menu{
    display: none!important;
}

.btn-noStyle{
    height: 0px;
    width: 0px;
    padding: 0px;
    border: none;
    outline:none;
}

.btn-group{
  width: 200px;
  // width: 160px!important;
  height: 25px!important;
  margin-top: 0px!important;
  padding: 0px!important;
  margin-right: 0px!important;

  .nav-item{
    padding: 0px!important;
    padding-right: 10px!important;
  }
}

.dropdown-menu{

}

.btn-group{
  .active{
  width: 180px!important;
  height: 25px!important;
  margin-top: 0px!important;
  padding: 0px!important;
}
}
.aac{
  color: black;
    text-decoration: none;
}

.aac:hover{
  text-decoration: none!important;
  font-size: 1.1rem;
}

.nav-item{
    padding: 10px 10px!important;
    color: black;
    text-decoration: none;
    //text-transform: uppercase;
}

.nav-item:hover{
  text-decoration: none;
  font-size: 1.1rem;
}

.logo{
    position: absolute;
    width: 220px;
    margin-top: -55px;
}

.aab{
  left: -164px;
  border: none;
  color: black!important;
}

.ambimax-icon{
  font-size: 1rem;
  color: black;
  margin-bottom: 0px;
  
}

.ambimax-icon:hover{
  font-size: 1.1rem;
}

@media only screen and (max-width: 767px) {
    
  }
  

  @media only screen and (max-width: 1074px) {
    .ambimax-media{
      display: none!important;
      margin-right: 0px!important;
  }
  }

  @media only screen and (max-width: 1200px) {
    .ambimax-media{
      margin-right: 0px!important;
  }
  }

  @media only screen and (max-width: 1270px) {
    .ambimax-media{
      margin-right: 60px;
  }
  }





//                                                    navigation burger
$background: #63E1FF;

$line-color: #FFF;
$line-width: 20px;
$line-height: 3px;

// Mixin For Span Element
@mixin span($t) {
  transition: all $t + s cubic-bezier(.5, 10, .6, .1);
  display: block;
  cursor: pointer;
  box-shadow: 1px 1px 4px darken(#63E1FF, 4%);
}

// Mixin For Centering Elements
@mixin center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

// Main Styles


.ambimax-burger {
    
  //margin-top: 140px;
  transform: scale(3);
}

.flex{
    display: flex!important;
    flex-basis:auto;
}

span {
  @include span(0.4);
}

.active {
  background: $line-color;
  width: $line-width;
  height: $line-height;
  margin-top: 4px;
  @include center;
}

.cross {
  background: $line-color;
  width: $line-width;
  height: $line-height;
  margin-top: 4px;
  display: block;
  @include center;
}

.cross:nth-of-type(1) {
  transform: rotate(45deg);
}

.cross:nth-of-type(2) {
  transform: rotate(-45deg);
  margin-top: -3px;
}

