section{
    padding: 30px 0px 30px 0px;
    margin: 50px 0px 50px 0px;
    border-radius: 150px 150px 150px 150px;

}
.bg-light{
    margin-top: 80px;
}

.top{
    margin-top: 140px;
}

.title{
    margin-bottom: 20px;
    padding: 0 0 0 0!important;
}

.ambimax-contact{
    padding-left: 40px;
}

.row {
    padding:20px 0;
}

.ambimax-light{
    color: #212529;
    padding: 10px;
    border-radius: 100px;
}

a{
    text-decoration: none;
}
.ambimax-inner{
    padding-top: 50px;
    margin-bottom: 500px;
}

.title{
    padding:0 0 0 15px;
}

.col-md-12{
    :hover{
        .ambimax-light{
            background-color: #FF8504;
        }
    }
}

.ambimax-img-rad{
    border-radius: 50%;
}

@media only screen and (max-width: 767px) {
    .col-md-5{
        margin-top: 50px;
    }
}