
<section class="bg-light top">
    <div class="container">
      <div class="ambimax-contact">
    <div class="title"><h2>Susisiekime</h2></div>
        <p>Sveiki, drąsiai rašykite mums el. paštu info@ambimax.lt</p>
        <p>Greitai su Jumis susisieksime!</p>
    </div>
  </div>
</section>

  <div class="container">
      <div class="row">
<div class="col-md-7">
    <img src="../../assets/panevezys.jpg" class="img-fluid rounded" alt="Responsive image">
  </div>
  <div class="col-md-5 ">
        <p>Esame įsikūre Panevėžyje</p>
        <p>Mob. +37069068002</p>
      </div>
    </div>
  </div>