section{
    padding: 50px 0px 50px 0px;
    margin: 50px 0px 50px 0px;
    border-radius: 50px 200px 600px 150px;
}

.row {
    padding:20px 0;
}

.ambimax-light{
    color: #212529;
    padding: 10px;
    border-radius: 100px;
    
}

.creditentionals{
    margin-top: 100px;
    margin-left: 25px;
}

.top{
    margin-top: 80px;
}

a{
    text-decoration: none;
}
.ambimax-inner{
    padding-top: 50px;
    margin-bottom: 500px;
}

.title{
    padding:0 0 0 15px;
}

.col-md-12{
    :hover{
        .ambimax-light{
            background-color: #FF8504;
        }
    }
}

