<div class="container top">
  <section class="bg-light">
  <div class="container">
    <div class="open-positions-list">
  <div class="title"><h1>Darbo pasiūlymai</h1></div>
  <div class="ambimax-inner">
      <a >
        <div class="col-md-12">
      <div class="row">
          <div class="col-md-3">
              <span class="btn ambimax-light">UI/UX</span>
              </div>
              <div class="col-md-7">
                <span class="btn">UI/UX dizaineris, galintis kurti dizainą tiek web, tiek mobile aplikacijomis.</span>
              </div>
            </div>
        </div>
    </a>

    <a >
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-3">
                  <span class="ambimax-light">FOTO</span>
              </div>
              <div class="col-md-9">
                <span class="btn">
                    Fotografas, gebantis fotografuoti prekių katalogus.</span>
              </div>
            </div>
          </div>
        </a>

        <div class="creditentionals">
          <p>Siųskite savo gyvenimo aprašymus info@ambimax.lt temos laukelyje nurodę pozicija į kurią kanditatuojate.</p>
        </div>
  </div>
</div>
  </div>
</section>
</div>
