<!-- <div class="ambimax-landing">
  <app-nav (selected)="isItOpen(target)" *ngIf="publicVariable"></app-nav>
<div class="overlay view">
              <div class="container">
              <div class="row">
              <div class=" col-md-5" style="position:static"> 
                <div class="text ambimax-text ">
                <h1 class="lpText">Tinklalapių kūrimas</h1> 
                <h1 class="lpText">Apps programėlės</h1>
                <p class="lpText">Leiskite savo verslui augti.</p>
                <p>
                  <a routerLink="/contacts" (click)="isItOpen(target)" class="btn btn-primary px-4 py-3">Susisiekime</a></p>
              </div>
            </div>
            <div
             class=" col-md-7 ambimax-flex" >
                <app-select-topic (selected)="isItOpen(target)"></app-select-topic>
              </div>
            </div>
          </div>
    </div>
  </div>
<div #target id="target" class="container-fluid">
  <router-outlet></router-outlet>
</div>


<app-footer *ngIf="publicVariable" ></app-footer> -->
