// .ambimax-flex {
//     //position: absolute;
//     bottom: 10%;
//     margin-right: 0px;
//     margin-top: 65vh;
// }

.ambimax-wrap{
    background: rgb(34, 166, 179);
    border-radius: 50px 0 35px 0;
}

// .row{

// }

.btn-primary {
    background-color:#FF9600!important;
    border-color: #FF9600!important;
}



  .btn {
    padding: 5px 40px;
    display:table;
    margin: 0 auto;
 }

 .dropdown-menu{
    background-color: rgb(34, 166, 179);
    margin-top: -5.2rem!important;
    margin-left: -5px;
    //margin: 0 auto;
    width: 104%;
    padding: 0;
    padding-top: 8px;
 }

 .dropdown-item.ambimax-nb:hover{
     background: rgb(34, 166, 179);
     //rgb(126, 214, 223);
    font-weight: 600;

 }

 .dropdown-divider{
     margin: 5px 0;
     border-top: 0px; 
 }
 
 .ambimax-redbg{
     background-color:#FF8A47;
     //border-radius: 
     padding: 12px 24px;
 }


